body {
    background-color: whitesmoke;
}

.bloco1 {
    background-color: lightblue;
    padding-left: 80px;
    padding-bottom: 1px;
    padding-top: 25px;
    border-radius: 40px;
    margin-top: 30px;
    margin-left: 30px;
    max-width: 800px;
}

.escrito1 {
    margin-left: 240px;
    display: flex;
}

.escrito2 {
    padding-left: 100px;
    padding-bottom: 40px;
}

.bloco2 {}

.direita {
    padding-top: 290px;
    padding-right: 600px;
    margin: 10px;
    background-color: rgb(155, 197, 221);
    box-sizing: border-box;
    border-radius: 40px;

}